<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://lovetothink.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>lovetothink.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>lovetothink</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$lovetothink</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MatcherDb" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:mx7mlp44z9.database.windows.net,1433;Initial Catalog=sharpbooks_db;User ID=sharpbooks@mx7mlp44z9;Password=Tye*Gabby*Alex" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="matcher.Models.MatcherDb, matcher" MigrationConfiguration="matcher.Migrations.Configuration, matcher" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Model1" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:mx7mlp44z9.database.windows.net,1433;Initial Catalog=sharpbooks_db;User ID=sharpbooks@mx7mlp44z9;Password=Tye*Gabby*Alex" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=toshy\sqlexpress;Initial Catalog=Matcher;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Model1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=toshy\sqlexpress;initial catalog=Matcher;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MatcherDb-Web.config Connection String">
      <ParameterValue>Data Source=tcp:mx7mlp44z9.database.windows.net,1433;Initial Catalog=sharpbooks_db;User ID=sharpbooks@mx7mlp44z9;Password=Tye*Gabby*Alex</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Model1-Web.config Connection String">
      <ParameterValue>data source=tcp:mx7mlp44z9.database.windows.net,1433;initial catalog=sharpbooks_db;user id=sharpbooks@mx7mlp44z9;password=Tye*Gabby*Alex;MultipleActiveResultSets=True</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>